./2017-resultats-bruts/*
./scenarios/*
2017-resultats-communes-augmente.xlsx
2017-resultats-communes.xlsx
2017-results-analyse.xlsx
2017-scenarios
be-b-00.04-agv-01.xlsx
wip_initial-expliration.ipynb
wip_simul-election-2017.ipynb
~$comparaison-scenarios.xlsx
~$out_communes.xlsx
.ipynb_checkpoints/augment-results-checkpoint.ipynb
.ipynb_checkpoints/get-results-2017-checkpoint.ipynb
.ipynb_checkpoints/simulations-checkpoint.ipynb
.ipynb_checkpoints/wip_initial-expliration-checkpoint.ipynb
.ipynb_checkpoints/wip_simul-election-2017-checkpoint.ipynb
2017-resultats-bruts/clean-resultats-district-1.csv
2017-resultats-bruts/clean-resultats-district-10.csv
2017-resultats-bruts/clean-resultats-district-11.csv
2017-resultats-bruts/clean-resultats-district-12.csv
2017-resultats-bruts/clean-resultats-district-13.csv
2017-resultats-bruts/clean-resultats-district-14.csv
2017-resultats-bruts/clean-resultats-district-2.csv
2017-resultats-bruts/clean-resultats-district-3.csv
2017-resultats-bruts/clean-resultats-district-4.csv
2017-resultats-bruts/clean-resultats-district-5.csv
2017-resultats-bruts/clean-resultats-district-6.csv
2017-resultats-bruts/clean-resultats-district-7.csv
2017-resultats-bruts/clean-resultats-district-8.csv
2017-resultats-bruts/clean-resultats-district-9.csv
2017-resultats-bruts/raw-resultats-district-1.csv
2017-resultats-bruts/raw-resultats-district-10.csv
2017-resultats-bruts/raw-resultats-district-11.csv
2017-resultats-bruts/raw-resultats-district-12.csv
2017-resultats-bruts/raw-resultats-district-13.csv
2017-resultats-bruts/raw-resultats-district-14.csv
2017-resultats-bruts/raw-resultats-district-2.csv
2017-resultats-bruts/raw-resultats-district-3.csv
2017-resultats-bruts/raw-resultats-district-4.csv
2017-resultats-bruts/raw-resultats-district-5.csv
2017-resultats-bruts/raw-resultats-district-6.csv
2017-resultats-bruts/raw-resultats-district-7.csv
2017-resultats-bruts/raw-resultats-district-8.csv
2017-resultats-bruts/raw-resultats-district-9.csv
circonscriptions-modele1.csv
comparaison-scenarios.xlsx
out_communes.xlsx
out_test.xlsx
repartition-districts-2017.xlsx
Wallimandering/
.ipynb_checkpoints/README-checkpoint.md
~$2017-resultats-communes.xlsx
.ipynb_checkpoints/get-results-checkpoint.ipynb
