./2017-resultats-bruts/*
./scenarios/*
2017-resultats-communes-augmente.xlsx
2017-resultats-communes.xlsx
2017-results-analyse.xlsx
2017-scenarios
be-b-00.04-agv-01.xlsx
wip_initial-expliration.ipynb
wip_simul-election-2017.ipynb
~$comparaison-scenarios.xlsx
~$out_communes.xlsx